<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта проекта Yatube{% endblock %}
{% block content %}
<h1>Привет, я автор проекта Yatube, Казиков Алексей!</h1>
<p><br>
  Я создал этот проект почти сам.
  Это социальная сеть блогеров, где пользователи могут размещать информацию о себе: выкладывать свои посты, общаться друг с другом,
  делиться своими интересами, комментрировать понравившиеся посты... и делать многое, что другое.
</p>
<p>
    Что касается меня, мне 22 года, в настоящий момент я заканчиваю 4 курс бакалавра Московского Энергетического института,
    по направлению: управление в технических системах.
    Программированием я стал заниматься относительно недавно, с августа 2022 года, надеюсь, что у меня всё получится.
</p>
<p>
    Эта ссылка на мой <a href="https://github.com/KazikovAP?tab=repositories">GitHub</a> правда там особо пока ничего нету интересного, но ничего,
    постепенно будет.
</p>
<p>
  Надеюсь вам понравится использовать это приложение
</p>
{% endblock %}