<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}О проекте SocialNetwork{% endblock %}
{% block content %}
<h2>Всем, привет! Я автор проекта SocialNetwork, Казиков Алексей!</h2>
<p>
  Это проект социальной сети, её название - SocialNetwork.<br>
  Как и любая социальная сеть она много, что умеет. Вы можете размещать информацию о себе, своих интересах/хобби,
  или просто делиться своими мыслями/чувствами/переживаниями/идеями.<br>
  Публикуйте свои посты, пишите тексты, делитесь фотографиями, комментируйте другие посты, подписывайтесь на интересующих вас авторов,
  выбирайте в приоритетах интересующие вас группы, делайте что хотите, и что вам нравится!
</p>
<p>
  Надеюсь вам понравится использовать это приложение,<br>
  С наилучшими пожеланиями,<br>
  Алексей Казиков
</p>
{% endblock %}