<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Технологии применимые для создания проекта Yatube</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Git и GitHub
      </li>
      <li class="list-group-item">
        Django ORM
      </li>
      <li class="list-group-item">
        HTML и CSS
      </li>
    </ul>
  </aside>
    <p><br>
      <b>Тут перечислены основные технологии, которые применялись для создания проекта</b>
    </p>
</div>
{% endblock %}