<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Технологии применимые для создания проекта SocialNetwork</h1>
  <div><p></p></div>
  <aside class="col-7">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Python</b> - язык программирования на котором написан сам проект.
      </li>
      <li class="list-group-item">
        <b>Django</b> - высокоуровневый веб-фреймворк предназаначенный для создания веб-приложений.
      </li>
      <li class="list-group-item">
        <b>Django ORM</b> - инструмент, предоставляемый Django, обеспечивающий удобный и абстрактный способ взаимодействия с базами данных.
      </li>
      <li class="list-group-item">
        <b>GitHub</b> - платформа для хостинга и совместной работы с репозиториями Git.
      </li>
      <li class="list-group-item">
        <b>Git</b> - распределенная система контроля версий, которая используется для управления изменениями в исходном коде и других файлах проекта.
      </li>
      <li class="list-group-item">
        <b>HTML</b> - язык разметки, используемый для создания и структурирования веб-страниц.
      </li>
      <li class="list-group-item">
        <b>CSS</b> - язык стилей, который используется для оформления и визуального представления веб-страниц.
      </li>
      <li class="list-group-item">
        <b>Bootstrap</b> - популярный фреймворк (набор инструментов) для разработки веб-интерфейсов.
      </li>
      <li class="list-group-item">
        <b>Unittest</b> - модуль в стандартной библиотеке языка Python, который предоставляет инструменты для создания и запуска модульных тестов.
      </li>
      <li class="list-group-item">
        <b>Pythonanywhere</b> - платформа веб-хостинга, которая позволяет разработчикам запускать и развертывать веб-приложения, написанные на языке программирования Python.
      </li>
    </ul>
  </aside>
    <p><br>
      <b>Тут перечислены основные технологии, которые применялись для создания проекта</b>
    </p>
</div>
{% endblock %}