<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Технологии применимые для создания проекта SocialNetwork</h1>
  <div><p></p></div>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Git и GitHub
      </li>
      <li class="list-group-item">
        Django ORM
      </li>
      <li class="list-group-item">
        HTML и CSS
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Unittest 
      </li>
      <li class="list-group-item">
        Pythonanywhere
      </li>
    </ul>
  </aside>
  <article class="col-md-8">
    <p>
      Этот проект создан при помощи Django фреймоврка с простенькой СУБД SQLite3 "из коробки".
      В качестве CSS использовался Bootstrap.
      Здесь можно выкладывать посты, редактировать их, добавлять картинки, оставлять комментарии к постам.
      А так же подписываться на других авторов. Регистироваться, менять пароли (хотя на хостинге может пока не рабоать)
      В общем реализован базовый функционал соц. сети.
      Не судите строго за внешний вид. По ходу изучения html и css буду стараться улучшать внешний вид проекта.
    </p>
  </article>
    <p><br>
      <b>Тут перечислены основные технологии, которые применялись для создания проекта</b>
    </p>
</div>
{% endblock %}