{% extends 'base.html' %}
{% block title %}Пост удалён{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        <center>Удаление поста.</center>
      </div>
      <div class="card-body">
        <p>
          <center>Ваш пост успешно удалён!</center>
        </p>
      </div> <!-- card body -->
      <div class="d-flex justify-content-center">
        <a button type="submit" class="btn btn-primary" value="OK"
          href="{% url 'posts:profile' user.username %}">OK</a>
        </button>
      </div>
      <br>
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}