{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Избранные авторы
{% endblock %}
{% block content %}
{% include 'posts/includes/switcher.html' with follow=True %}
      <h1>Посты моих избранных авторов</h1>
      <h2>Всего постов на сайте: {{ post_count }}</h2>
      {% for post in page_obj %}
      <div class="card">
        <div class="card-header">
          Автор: {{ post.author.get_full_name }}
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </div>
        <div class="card-body">
        <p> {{ post.text }} </p>
        <p>{% thumbnail post.image "350x350" crop="center" as im %}
          <img src="{{ im.url }}">
        {% endthumbnail %}</p>
        <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-outline-primary">Подробная информация о посте</a>
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-outline-primary">Все записи группы - {{ post.group.title }}</a>
        {% endif %}
        </div>
        <div class="card-footer text-muted">
          Дата публикации: {{ post.pub_date|date:"d E Y H:i:s" }}
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
      <!-- под последним потсом нет линии -->
{% endblock %}