{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профиль пользователя: {{ username }} {% endblock %}
{% block content %}
      <div class="mb-5">
        <h1>Все посты пользователя: {{ author.get_full_name }} </h1>
        <h3>Всего постов пользователя: {{ post_count }} </h3>
        <h4>Об авторе</h4>
        {% if user != author %}
          {% if following %}
            <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
              Отписаться
            </a>
          {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
              Подписаться
            </a>
          {% endif %}
        {% endif %}
      </div>
        {% for post in page_obj %}
        <div class="card">
          <div class="card-header">
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
          </div>
          <div class="card-body">
            <p> {{ post.text }} </p>
            <p>{% thumbnail post.image "350x350" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}</p>
            <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-outline-primary">Подробная информация о посте</a>
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-outline-primary">Все записи группы - {{ post.group.title }}</a>
            {% endif %}
            </div>
            <div class="card-footer text-muted">
              Дата публикации: {{ post.pub_date|date:"d E Y H:i:s" }}
            </div>
          </div>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      <!-- под последним потсом нет линии -->
{% endblock %}